<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>D:/logs/mdc.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %X{clientname}, [%thread], %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date-%X{clientname}-[%thread] %-5level %logger{80}- %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="stdout" />
    </root>
</configuration>