<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%-5thread] %-5level [%-10logger] %-10msg%n</pattern>
        </encoder>

    </appender>

    <appender name="mapAppender" class="com.lance.log.customappender.MapAppender">
        <!--<prefix>hello</prefix>-->
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="mapAppender"/>-->
    </root>
</configuration>